<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-Market{% endblock %}</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
</head>
<body>

    <!-- Common Header -->
    <header>
        <div class="logo">
            <h1>E-Market</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products/">Catalog</a></li>
                <li><a href="/contact/">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <!-- Content Block (Each page will inject its content here) -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 E-Market. All Rights Reserved.</p>
    </footer>

</body>
</html>
